<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>formpublicar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">formpublica</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content style="justify-content: center;">
  <ion-grid style="width: 700px;">
     <div [formGroup]="mascotaform"  style="text-align: center;background-color: #A0D2D6;">
      <h1>Informacion de la mascota</h1>
       <ion-col size="12" size-md="6" size-lg="6">
         <form  style="background-color: #A0D2D6;" > 
           <ion-item style="background-color: #A0D2D6;">
             <ion-label position="floating">Nombre de la mascota</ion-label>
             <ion-input type="text" name="nombre" [formControl]="mascotaform.controls.nombre"></ion-input>
           </ion-item>
           <ion-item>
             <ion-label position="floating">Raza</ion-label>
             <ion-select name="raza" id="raza" [formControl]="mascotaform.controls.raza">
                <ion-select-option value="caniche">Caniche</ion-select-option>
                <ion-select-option value="foxterrier">Foxterrier</ion-select-option>
                <ion-select-option value="labrador">Labrador</ion-select-option>
                <ion-select-option value="salchicha">Salchicha</ion-select-option>
                <ion-select-option value="chihuahua">Chihuahua</ion-select-option>
                <ion-select-option value="otro">Otro</ion-select-option>
             </ion-select>
           </ion-item>
           <ion-item>
             <ion-label position="floating">Tamaño</ion-label>
             <ion-select name="tamaño" [formControl]="mascotaform.controls.tamano" >
              <ion-select-option value="Pequeño">Pequeño</ion-select-option>
              <ion-select-option value="Mediano">Mediano</ion-select-option>
              <ion-select-option value="Grande ">Grande</ion-select-option>
             </ion-select>
           </ion-item>
           <ion-item>
            <ion-label position="floating">Sexo</ion-label>
            <ion-select  [formControl]="mascotaform.controls.sexo">
              <ion-select-option value="Hembra">Hembra</ion-select-option>
              <ion-select-option value="Macho">Macho</ion-select-option>
            </ion-select>
          </ion-item>
           <ion-item>
             <ion-label position="floating">Descripcion</ion-label>
             <ion-textarea [formControl]="mascotaform.controls.descripcion" type="text" ></ion-textarea>
           </ion-item>
           <ion-item>
            <ion-label>Imagenes de la mascota</ion-label>
            <ion-input type="text" [formControl]="mascotaform.controls.img"></ion-input>
          </ion-item>
           <h1>Ubicacion</h1>
           <ion-item>
            <ion-label position="floating">Ciudad</ion-label>
            <ion-input type="text" [formControl]="mascotaform.controls.ciudad" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Barrio</ion-label>
            <ion-input type="text" [formControl]="mascotaform.controls.barrio"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Fecha de perdida</ion-label>
            <ion-input type="text" [formControl]="mascotaform.controls.fecha" ></ion-input>
          </ion-item>
           <ion-button expand="block" type="submit" (click)="agregarmascota()" >Enviar formulario</ion-button>
         </form>
       </ion-col>
     </div>
  </ion-grid>
 </ion-content>
</ion-content>


