<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cardmascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cardmascotas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="d-flex-center" *ngFor="let mascota of mascotas$ |async">
    <ion-card class="d-flex-center">
      <img alt="Silhouette of mountains" src="{{mascota.img}}" />
      <ion-card-header>
        <ion-card-title>{{mascota.nombre}}</ion-card-title>
        <ion-card-subtitle>{{mascota.raza}}{{mascota.sexo}} </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{mascota.descripcion}} {{mascota.barrio}}

        <ion-button (click)="confirmarEliminacion(mascota.uid)">Eliminar</ion-button>
        <ion-button (click)="abrirModalEdicion(mascota)">Editar</ion-button>
      </ion-card-content>
    </ion-card>
    </div>

</ion-content>