<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cardmascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cardmascotas</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="col" *ngFor="let publicacion of coleccionMascotas">
     <ion-card>
      <img alt="Silhouette of mountains"
        src="{{publicacion.img}}" />
      <ion-card-header>
        <ion-card-title>{{publicacion.nombre}}</ion-card-title>
        <ion-card-subtitle>{{publicacion.raza}}{{publicacion.sexo}} </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{publicacion.descripcion}} {{publicacion.barrio}}

        <ion-button ></ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>