<ion-header>
    <ion-toolbar>
       <ion-title>
         Inicio
       </ion-title>
    </ion-toolbar>
   </ion-header>
   
   <ion-content>
    <div class="logo-container" style="text-align: center;">
       <img src="../../assets/Imagenes/logo 1.svg" style="height: 100px; width: 100px;" alt="Logo">
       <h1>Mascotas perdidas</h1>
    </div>
    <div class="button-container-fluid">
      <div class="col">
         <ion-button expand="full" routerLink="/publicar-mascotas-perdidas">Publicar mascotas perdidas</ion-button>
      </div>
      <div class="col">
         <ion-button expand="full" routerLink="/ver-mascotas-perdidas">Ver mascotas perdidas</ion-button>
      </div>
    </div>
   </ion-content>

